<%- include('templates/headerV2') %>

<!-- Main Content Wrapper with Padding to Accommodate Button Section -->
<div class="container mx-auto pt-5 pb-20 overflow-y-auto">
    <h1 class="mb-3 text-center text-2xl">Upcoming Activities</h1>
    
    <!-- Activities Grid Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% selectedEvents.forEach(event => { %>
            <div class="border rounded-lg p-4 shadow-lg">
                <p class="font-bold text-xl mb-2"><%= event.title %></p>
                <strong>Description:</strong><span style="overflow-y: auto; max-height: 30px; display: inline-block;">
                    <%= event.description %>
                  </span>
                <p class="mb-1"><strong>Location:</strong> <%= event.location %></p>
                <p class="mb-1"><strong>Time:</strong> <%= formatDateTime(event.time) %></p>
            </div>
        <% }); %>
    </div>
</div>

<%- include('templates/footer') %>
