<%- include("templates/header") %>
<div class="container mx-auto bg-gray text-center">
    <div class="bg-white p-8">
    <h1 class="text-3xl font-bold mb-4">Edit Your Event Idea</h1>
    <form action="/editEvent?groupId=<%= group._id %>&eventId=<%= event._id %>" method="POST" class="bg-lavender p-6 rounded shadow-inner">
        <div class="form-group mb-4">
            <label for="eventTitle" class="block text-gray-700">Event Title</label>
            <input type="text" id="eventTitle" name="eventTitle" placeholder="<%= event.title %>"  class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2" required>
        </div>
        <div class="form-group mb-4">
            <label for="description" class="block text-gray-700">Description</label>
            <textarea id="description" name="description" placeholder="<%= event.description %>" rows="4" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2" required></textarea>
        </div>
        <div class="form-group mb-4">
            <label for="location" class="block text-gray-700">Location</label>
            <input type="text" id="location" name="location" placeholder="<%= event.location %>" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2" required>
        </div>
        <div class="form-group mb-4">
            <label for="contactInfo" class="block text-gray-700">Contact Information</label>
            <input type="text" id="contactInfo" name="contactInfo" placeholder="<%= event.info %> "class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-transparent transition duration-200 p-2">
        </div>
        <div class="form-group mb-4">
            <label for="category" class="block text-sm font-medium text-gray-700">Event Category</label>
            <select id="category" name="category" class="w-full p-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent transition duration-300" required>
                <option value="Meeting">Meeting</option>
                <option value="Workshop">Workshop</option>
                <option value="Social">Social</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="bg-light-purple hover:bg-purple focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 px-6 py-2 text-base leading-5 rounded-full font-semibold text-white">Save</button>
        </div>

    </form>
    </div>
</div>
<%- include("templates/footer") %>