<%- include("templates/headerV2") %>


<div class="sticky top-[10vh] bg-white p-4 shadow-md">
    <!-- New div for this week's activity -->
    <div class="mb-4">
        <h2 class="text-lg font-semibold">This week's activity: </h2>
    </div>
    <!-- Flex container for the green buttons -->
    <div class="flex justify-center items-center">
        <!-- View Members button -->
        <!-- <button onclick="openMembersPopup()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View Members</button> -->
        <!-- Submit Activity button -->
        <button id="submitActivityButton" onclick="submitActivity()" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-2">Submit Activity</button>
        <a href="/randomizer?id=<%= group._id %>" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-2">Randomize</a>
        <a href="/calendar?id=<%= group._id %>" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-2">Time</a>
    </div>
</div>
<div class="mt-2 p-2">
    <ul id="messages" class="flex flex-col">
        <% let aux; %>
        <% group.messages && group.messages.forEach((message,i) => { %>
            <% if(message.user!==aux){ %>
                <% if(message.user!==session.email){ %>
                    <p class="text-slate-400 ml-3 text-xs mt-2 -mb-2"><%= group.memberDetails.find(m=>message.user===m.email).name %></p>
                <% } %>
            <% } %>
            <!-- <div class="flex w-fit max-w-[85vw] <%= aux===message.user ? 'mt-1' : 'mt-2'%> <%=message.user===session.email?'self-end':'self-start'%>"> -->
                <!-- <% if(group.messages[i+1] && message.user!==session.email && message.user!==group.messages[i+1].email) {%>
                    <img src="<%= group.memberDetails.find(m=>message.user===m.email).profilePicture %>" alt="" class="w-8 h-8 rounded-full mr-2">
                <% } %> -->
                <li class="w-fit max-w-[85vw] py-1 px-3 rounded-2xl <%=aux===message.user ? 'mt-1' : 'mt-2'%> <%=message.user===session.email?'self-end bg-purple text-white':'self-start bg-slate-200'%>"><%= message.message %></li>
            <!-- </div> -->
            <% aux=message.user; %>
        <% }); %>
    </ul>
</div>
<div class="h-[68px]" onLoad="">

</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.emit('join', '<%= group._id %>');

    // var button = document.getElementById('submitMessageButton');
    // var input = document.getElementById('chatInput');
    var messages = document.getElementById('messages');
    document.body.onload = ()=>window.scrollTo(0, document.body.scrollHeight);

    // socket.on('connect', function(socket) {
    //     console.log('Connected to socket' + socket);
    // });

    var lastMessageEmail="<%= group.messages.length>0?group.messages[group.messages.length-1].user:null %>";
    var myEmail="<%= session.email %>";

    // socket.join('<%= group._id %>')
    socket.on('chat message', function(msg) {
        // console.log(msg)
        if(msg.user!==myEmail && msg.user!==lastMessageEmail){
            var item = document.createElement('p');
            item.className="text-slate-400 ml-3 text-xs mt-2 -mb-2";
            item.textContent = msg.name;
            messages.appendChild(item);
        }
        var item = document.createElement('li');
        item.className=`w-fit max-w-[85vw] py-1 px-3 rounded-2xl ${lastMessageEmail===msg.user ? 'mt-1' : 'mt-2'} ${msg.user===myEmail?'self-end bg-purple text-white':'self-start bg-slate-200'}`;
        item.textContent = msg.message;
        if(msg.user!==lastMessageEmail){
            lastMessageEmail=msg.user;
        }
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
        // item.scrollIntoView({behavior: "smooth"});
    });
    // window.scrollTo(0, document.body.scrollHeight);
</script>
<%- include("templates/footer") %>


<script>
    function openMembersPopup() {
        document.getElementById('membersPopup').classList.remove('hidden');
    }

    function closeMembersPopup() {
        document.getElementById('membersPopup').classList.add('hidden');
    }

    function submitActivity() {
        // Placeholder function for submitting activity
        console.log('Submit Activity button clicked');
        // You can add functionality for submitting activity here
        window.location.href = '/event_submission?groupId=<%= group._id %>';
    }

    function editGroup() {
        // Placeholder function for editing group
        console.log('Edit Group button clicked');
        // You can add functionality for editing group here
    }

    function viewSubmittedActivities() {
        // Placeholder function for viewing submitted activities
        console.log('View Submitted Activities button clicked');
        // You can add functionality for viewing submitted activities here
        window.location.href = '/submitted_event?groupId=<%= group._id %>';
    }

    function openInvitePopup() {
        document.getElementById('invitePopup').classList.remove('hidden');
    }

    function closeInvitePopup() {
        document.getElementById('invitePopup').classList.add('hidden');
    }
</script>
