<%- include('templates/headerV2') %>
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4 text-center">Notifications</h1>

    <!-- Notification Items -->
    <div>
        <% if (notifications.length === 0) { %>
            <div class="flex flex-col items-center justify-center h-full">
                <img src="/images/notification.png" alt="No Notifications" class="w-42 h-40 mb-4">
                <h2 class="text-xl font-bold text-gray-700 text-center">No Notifications</h2>
                <p class="text-sm text-gray-500 text-center">Clutter cleared! We’ll notify you when there is something new.</p>
            </div>
        <% } else { %>
            <% notifications.slice().reverse().forEach(notification => { %>
                <div id="<%= notification._id %>" class="mx-auto max-w-lg rounded-lg border border-stone <%= notification.read ? 'bg-gray-400' : 'bg-white' %> p-4 shadow-lg sm:p-6 lg:p-8 mb-4 transition-opacity">
                    <div class="flex items-center gap-4">
                        <span class="shrink-0 rounded-full bg-purple p-2 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4">
                                <path fill-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" clip-rule="evenodd"></path>
                            </svg>
                        </span>

                        <p class="font-medium sm:text-lg text-purple">New notification from <%= notification.groupTitle %>!</p>
                    </div>

                    <p class="mt-4 text-black">
                        <%= notification.message %>
                    </p>

                    <div class="mt-6 sm:flex sm:gap-4 justify-center">
                        <% if (!notification.read) { %>
                            <% if (notification.type === 'event') { %>
                                <form action="/mark_as_read?userId=<%= userId %>" method="POST" class="inline">
                                    <input type="hidden" name="notificationId" value="<%= notification._id %>">
                                    <input type="hidden" name="notificationgroup" value="<%= notification.group %>">
                                    <input type="hidden" name="notificationtype" value="<%= notification.type %>">
                                    <button class="inline-block rounded-lg bg-purple px-5 py-3 text-center text-sm font-semibold text-white sm:w-auto">View</button>
                                </form>
                            <% } else if (notification.type === 'randomizer' || notification.type === 'deadline') { %>
                                <form action="/mark_as_read?userId=<%= userId %>" method="POST" class="inline">
                                    <input type="hidden" name="notificationId" value="<%= notification._id %>">
                                    <input type="hidden" name="notificationgroup" value="<%= notification.group %>">
                                    <input type="hidden" name="notificationtype" value="<%= notification.type %>">
                                    <button class="inline-block  rounded-lg bg-purple px-5 py-3 text-center text-sm font-semibold text-white sm:w-auto">View</button>
                                </form>
                            <% } %>
                        <% } %>
                        <form action="/delete_notification?userId=<%= userId %>" method="POST" class="inline">
                            <input type="hidden" name="notificationId" value="<%= notification._id %>">
                            <button onclick="dismissNotification(event, '<%= notification._id %>')" class="mt-2 inline-block rounded-lg bg-stone-300 px-5 py-3 text-center text-sm font-semibold text-gray-800 sm:mt-0 sm:w-auto">Dismiss</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        <% } %>
        <div id="bottom"></div>
    </div>
    <div class="h-[80px]" onLoad=""></div>
    </div>
</div>

<script>
    function dismissNotification(event, notificationId) {
        event.preventDefault();
        const notificationDiv = document.getElementById(notificationId);
        const form = event.target.closest('form');
        notificationDiv.classList.add('fade-out');
        setTimeout(() => {
            notificationDiv.remove();
        }, 400);
        form.submit();
    }
</script>

<%- include('templates/footer', { user: user }) %>