<%- include("templates/noAuthHeader") %>
<body class="signupBody bg-purple">
    <button type="button" onclick="history.back()" class="backButton text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm mt-4 p-0 text-center inline-flex items-center me-2">
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"></path>
        </svg>
        <span class="sr-only">Back</span>
    </button>
    <h1 class="signupTitle">Create a new NextUp account</h1>
    <form class="loginForm" action='/signup' method='post'>
        <div class="relative">
            <input name="name" value="<%=locals.formData ? formData.name : ''%>" type="text" id="name" class="mb-4 block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-white bg-darkPurple border-2 focus:border-2 border-purple appearance-none focus:outline-none focus:ring-0 focus:border-violet-600 peer" placeholder=" " />
            <label for="name" class="absolute text-sm text-gray-50 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Name</label>
        </div>
        <% if(locals.missing && missing.name){ %>
            <p class="errorMessage">Enter your name</p>
        <% } %>
        <div class="relative">
            <input name="email" value="<%=locals.formData ? formData.email : ''%>" type="text" id="email" class="mb-4 block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-white bg-darkPurple border-2 focus:border-2 border-purple appearance-none focus:outline-none focus:ring-0 focus:border-violet-600 peer" placeholder=" " />
            <label for="email" class="absolute text-sm text-gray-50 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <% if(locals.missing && missing.email){ %>
            <p class="errorMessage">Enter an email address</p>
        <% } %>
        <div class="relative">
            <input id="password" name="password" value="<%=locals.formData ? formData.password : ''%>" type="password" class="mb-4 block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-white bg-darkPurple border-2 focus:border-2 border-purple appearance-none focus:outline-none focus:ring-0 focus:border-violet-600 peer" placeholder=" " />
            <label for="password" class="absolute text-sm text-gray-50 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
            <button type="button" onclick="toggleShowPassword()" class="absolute top-[6px] end-1 p-3.5 rounded-e-md w-auto">
              <svg class="flex-shrink-0 size-3.5 text-gray-50" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path class="hide-password-svg" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                <path class="hide-password-svg" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                <path class="hide-password-svg" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                <line class="hide-password-svg" x1="2" x2="22" y1="2" y2="22"></line>
                <path style="display:none" class="show-password-svg" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                <circle style="display:none" class="show-password-svg" cx="12" cy="12" r="3"></circle>
              </svg>
            </button>
        </div>
        <% if(locals.missing && missing.password){ %>
            <p class="errorMessage">Enter a password</p>
        <% } %>
        <div class="relative">
            <input id="confirmPassword" name="confirmPassword" value="<%=locals.formData ? formData.confirmPassword : ''%>" type="password" class="mb-4 block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-white bg-darkPurple border-2 focus:border-2 border-purple appearance-none focus:outline-none focus:ring-0 focus:border-violet-600 peer" placeholder=" " />
            <label for="confirmPassword" class="absolute text-sm text-gray-50 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Confirm password</label>
            <button type="button" onclick="toggleShowPassword()" class="absolute top-[6px] end-1 p-3.5 rounded-e-md w-auto">
              <svg class="flex-shrink-0 size-3.5 text-gray-50" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path class="hide-password-svg" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                <path class="hide-password-svg" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                <path class="hide-password-svg" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                <line class="hide-password-svg" x1="2" x2="22" y1="2" y2="22"></line>
                <path style="display:none" class="show-password-svg" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                <circle style="display:none" class="show-password-svg" cx="12" cy="12" r="3"></circle>
              </svg>
            </button>
        </div>
        <% if(locals.missing && missing.confirmPassword){ %>
            <p class="errorMessage">Confirm your password</p>
        <% } %>
        <!-- <div class="flex items-center mb-4 -mt-3">
            <input id="showPassword" type="checkbox" value="" onclick="toggleShowPassword()" class="w-4 h-4 m-2 text-blue-600 bg-gray-100 border-gray-300 rounded">
            <label for="showPassword" class="ms-2 text-sm text-white">Show password</label>
        </div> -->
        <% if(locals.error){ %>
            <p class="errorMessage mt-[8px]"><%=error%></p>
        <% } %>
        <button class="loginButton">Sign up</button>
    </form>
    <script src="scripts/script.js"></script>
</body>
</html>