<%- include("templates/headerV2") %>

    <h1 class="text-3xl font-bold mb-2 text-center mt-4">Submitted Activities</h1>

    <% if(events.length===0) { %>
        <div class="flex flex-col items-center justify-center">
            <img src="/images/Activity.png" alt="No events" class="w-48 h-44 mb-4 mt-4">
            <h2 class="text-xl font-bold text-gray-700 text-center">No Activities</h2>
            <p class="text-sm text-gray-500 text-center">We’ll notify you when there is
                something new.</p>
        </div>
        <% } else { %>
            <div style="display: flex; justify-content: center;">
                <button onclick=" window.location.href = `/group/<%= groupId %>`;"
                    class="bg-purple hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Return to group
                </button>
            </div>
            <% for(let event of events.reverse()) { %>
                <div class="bg-white flex mt-5 items-center justify-center">

                    <div class="bg-light-purple text-white p-6 rounded-lg shadow-lg w-96">
                        <div class="mb-4">
                            <% if(event.location) { %>
                                <span
                                    class="bg-green-200 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
                                    <%= event.location %>
                                </span>
                                <% } %>
                                    <span class="bg-blue-200 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded">
                                        <%= event.category %>
                                    </span>
                        </div>
                        <div class="text-3xl font-bold mb-2 overflow-x-auto whitespace-nowrap w-52">
                            <%= event.title %>
                        </div>
                        <% if(event.time) { %>
                            <div class="flex items-center mb-4">
                                <img src="/images/clock.svg" alt="clock" class="h-5 w-5 mr-2">
                                <%= formatDateTime(event.time) %>
                            </div>
                            <% } %>
                                <div class="flex items-center mb-4">
                                    <% if(event.description) { %>
                                        <div class="flex items-center justify-center overflow-y-auto max-h-6"
                                            style="max-height: 60px;">
                                            <%= event.description %>
                                        </div>
                                        <% } %>
                                </div>
                                <div class="flex justify-between">
                                    <a href="/editEvent?groupId=<%= group._id %>&eventId=<%= event._id %>"
                                        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
                                        Edit
                                    </a>
                                    <button onclick="openDeletePopup()"
                                        class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded">Delete</button>

                                </div>

                                <div id="deletePopup"
                                    class=" hidden group select-none w-[250px] flex-col p-4 relative items-center justify-center bg-purple border border-gray-800 shadow-lg rounded-2xl">
                                    <div class="">
                                        <div class="text-center p-3 flex-auto justify-center">
                                            <svg fill="currentColor" viewBox="0 0 20 20"
                                                class="animate-bounce w-12 h-12 flex items-center text-white fill-red-500 mx-auto"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                    fill-rule="evenodd"></path>
                                            </svg>
                                            <h2 class="text-xl font-bold py-4 text-gray-200">Are you sure?</h2>
                                            <p class="font-bold text-sm text-white px-2">
                                                Do you really want to continue ? This process cannot be undone
                                            </p>
                                        </div>
                                        <div class="p-2 mt-2 text-center space-x-1 md:block">
                                            <form
                                                action="/deleteEvent?groupId=<%= group._id %>&eventId=<%= event._id %>"
                                                method="POST">
                                                <button
                                                    class="bg-rose-500 hover:bg-transparent px-5 py-2 text-sm shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-rose-500 hover:border-rose-500 text-white hover:text-rose-500 rounded-full transition ease-in duration-300 mb-2">
                                                    Delete
                                                </button>
                                            </form>
                                            <button onclick="closeDeletePopup()"
                                                class="mb-2 md:mb-0 bg-gray-700 px-5 py-2 text-sm shadow-sm font-medium tracking-wider border-2 border-gray-600 hover:border-gray-700 text-gray-300 rounded-full hover:shadow-lg hover:bg-gray-800 transition ease-in duration-300">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="deleteAllPopup"
                                    class="hidden group select-none w-[250px] flex-col p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 items-center justify-center bg-purple border border-gray-800 shadow-lg rounded-2xl">
                                    <div class="">
                                        <div class="text-center p-3 flex-auto justify-center">
                                            <svg fill="currentColor" viewBox="0 0 20 20"
                                                class="animate-bounce w-12 h-12 flex items-center text-white fill-red-500 mx-auto"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                    fill-rule="evenodd"></path>
                                            </svg>
                                            <h2 class="text-xl font-bold py-4 text-gray-200">Are you sure?</h2>
                                            <p class="font-bold text-sm text-white px-2">
                                                Do you really want to continue ? This process cannot be undone
                                            </p>
                                        </div>
                                        <div class="p-2 mt-2 text-center space-x-1 md:block">
                                            <button
                                                onclick="window.location.href='/deleteAllEventsExceptSelected?groupId=<%= group._id %>'"
                                                class="bg-rose-500 hover:bg-transparent px-5 py-2 text-sm shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-rose-500 hover:border-rose-500 text-white hover:text-rose-500 rounded-full transition ease-in duration-300 mb-2">
                                                Delete
                                            </button>
                                            <button onclick="closeDeleteAllPopup()"
                                                class="mb-2 md:mb-0 bg-gray-700 px-5 py-2 text-sm shadow-sm font-medium tracking-wider border-2 border-gray-600 hover:border-gray-700 text-gray-300 rounded-full hover:shadow-lg hover:bg-gray-800 transition ease-in duration-300">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <% } %>
                    <div style="display: flex; justify-content: center;">
                        <button onclick="openDeleteAllPopup()"
                            class="bg-rose-500 hover:bg-red-700 text-white font-bold py-2 px-4 mt-4 rounded">
                            Delete All Events
                        </button>
                    </div>
                    <% } %>

                        <div id="bottom"></div>
                        </div>
                        <div class="h-[80px]" onLoad=""></div>
                        <%- include("templates/footer") %>

                            <script>


                                function openDeletePopup() {
                                    document.getElementById('deletePopup').classList.remove('hidden');
                                }

                                function closeDeletePopup() {
                                    document.getElementById('deletePopup').classList.add('hidden');
                                }

                                function openDeleteAllPopup() {
                                    document.getElementById('deleteAllPopup').classList.remove('hidden');
                                }

                                function closeDeleteAllPopup() {
                                    document.getElementById('deleteAllPopup').classList.add('hidden');
                                }
                            </script>