<%- include("templates/headerV2") %>
<% for(let event of events) { %>

<div class="bg-gray-200 flex mt-5 items-center justify-center">
    
    <div class="bg-light-purple text-white p-6 rounded-lg shadow-lg w-96">
        <div class="mb-4">
            <% if(event.location) { %>
            <span class="bg-green-200 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"><%= event.location %></span>
            <% } %>
            <span class="bg-red-200 text-red-800 text-xs font-semibold px-2.5 py-0.5 rounded"><%= event.category %> </span>
        </div>
        <div class="text-3xl font-bold mb-2"><%= event.title %></div>
        <% if(event.time) { %>
            <div class="flex items-center mb-4">
                <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-6 8h6m-6 4h6m-6 4h6M12 3c4.418 0 8 3.582 8 8s-3.582 8-8 8-8-3.582-8-8 3.582-8 8-8z"></path></svg>
                <%= convertTo12Hour(event.time) %>
            </div>
        <% } %>
        <div class="flex items-center mb-4">
            <div>
                <div class="text-sm">2024</div>
                <div class="text-2xl font-bold">17</div>
                <div class="text-sm">MAY</div>
            </div>
            <% if(event.description) { %>
            <div class="flex items-center justify-center">
                <%= event.description %>
            </div>
            <% } %>
        </div>
        <div class="flex justify-between">
            <a href="/editEvent?groupId=<%= group._id %>&eventId=<%= event._id %>" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
                Edit
            </a>
            <form action="/deleteEvent?groupId=<%= group._id %>&eventId=<%= event._id %>" method="POST" class="inline">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
            </form>
        </div>
    </div>
</div>
<% } %>
<%- include("templates/footer") %>